<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Otras configuraciones -->

        <!-- Configuración para MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/utn</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Configuración adicional para evitar problemas con la versión 8 de MySQL Connector/J -->
        <property name="hibernate.connection.serverTimezone">UTC</property>
        <property name="hibernate.jdbc.time_zone">UTC</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.charSet">utf8</property>

        <!-- Otras configuraciones -->

    </session-factory>
</hibernate-configuration>
